#zoomwarnung {
	width: 20em; 
	margin: -10em; 
	padding: 5px; 
	background-color: yellow; 
	position: absolute; 
	top: 16px; 
	margin-top: 0px; 
	height: 47px; 
	left: 50%; 
	text-align: center; 
	font-size: 16; 
	font-family: sans-serif; 
	opacity: 0.8; 
	border-radius: 5px; 
	z-index: 1000
}

#loading { 
	background-color: white; 
	position: absolute; 
	top: 16px; 
	margin-top: 0px; 
	left: 50px; 
	text-align: center; 
	font-size: 16; 
	font-family: sans-serif; 
	border-radius: 5px; 
	padding: 10px; 
	z-index: 1000
}

#options { 
	background-color: white; 
	position: absolute; 
	bottom: 16px;
	margin-top: 0px; 
	left: 16px; 
	text-align: center; 
	font-family: sans-serif; 
	border-radius: 5px; 
	padding: 10px; 
	z-index: 1000
}
			
.infoblock td {
font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif; vertical-align: top; margin-bottom: 4;}

.infoblock {
	background-color: #EEEEEE;
	border: 1px solid silver;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 6px;
	min-width: 200px;
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}

#lang { 
	background-color: white; 
	position: absolute; 
	top: 0px; 
	margin-top: 0px; 
	right: 0px; 
	text-align: center; 
	font-family: sans-serif; 
	border-radius: 0px 0px 0px 5px; 
	padding: 0px; 
	z-index: 1000;
	width:4em;
}

#lang select {
	background-color: white;
	padding: 5px;
	border: none;
	width: 100%;
	border-radius: 0px 0px 0px 5px;
}

.light_21 div{
	background-size: 80px 80px;
	width:104px;
	height:104px;
}

.light_20 div{
	background-size: 80px 80px;
	width:92px;
	height:92px;
}

.light_19 div{
	background-size: 80px 80px;
	width:80px;
	height:80px;
}

.light_18 div{
	background-size: 68px 68px;
	width:68px;
	height:68px;
}

.light_17 div{
	background-size: 56px 56px;
	width:56px;
	height:56px;
}

.light_16 div{
	background-size: 44px 44px;
	width:44px;
	height:44px;
}

.light_15 div{
	background-size: 32px 32px;
	width:32px;
	height:32px;
}

.light_14 div{
	background-size: 20px 20px;
	width:10px;
	height:20px;
}

.light_13 div{
	background-size: 8px 8px;
	width:4px;
	height:8px;
}

.bright .leaflet-tile-pane{
	filter: brightness(0.15);
}

.lamp_ref_19_text, .lamp_ref_18_text, .lamp_ref_17_text{
	display: inline-block;
	color: #DDDDDD;
	text-align: center;
	text-shadow: 0 0 5px #000000;
	font-weight: bold;
	white-space:nowrap;
	/*width: 80px;*/
}

.lamp_ref_21{
	width: 104px;
	margin-top: -54px;
}

.lamp_ref_20{
	width: 92px;
	margin-top: -48px;
}

.lamp_ref_19{
	width: 80px;
	margin-top: -42px;
}

.lamp_ref_18{
	width: 68px;
	margin-top: -36px;
}

.lamp_ref_17{
	width: 56px;
	margin-top: -30px;
}
.lamp_ref_16{
	width: 44px;
	margin-top: -26px;
}
.lamp_ref_15{
	width: 32px;
	margin-top: -20px;
}
.lamp_ref_19_text{
	font-size: 12px;
}

.lamp_ref_18_text{
	font-size: 10px;
}

.lamp_ref_17_text{
	font-size: 8px;
}
